@page
@model MapModel
@{
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

<div class="mb-3" > 
<form method="get" action="/Routes/RoutesView">   
    <label for="routeSelector">Prikaži liniju:</label>
    <select id="routeSelector" name="routeName" onchange="this.form.submit()">
        <option value="" disabled selected>Izaberite rutu</option>
			@foreach(var s in Model?.Routes)
			{
				<option value="@s.Name" > @s.Name</option>
			}
			@* <option value="Kamenjar-Crvena česma">Kamenjar-Crvena česma</option>
        <option value="Laćarak-Kuper-Mala Bosna">Laćarak-Kuper-Mala Bosna</option>
        <option value="Laćarak-Industrijska zona-Groblje">Laćarak-Industrijska zona-Groblje</option> *@
    </select>
    <br/>
</form>
</div>

@if (Model.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert" style="margin-right: 625px;">
        <h7>@Model.ErrorMessage</h7>
    </div>

}

@if(Model.routeName != null && string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div><h7> Trenutno prikazana ruta je: @Model.routeName </h7></div>
}

<div id="map" style="height: 600px;"></div> 


<script>
		var map = L.map('map').setView([44.968190, 19.608141], 13);
		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 19,
		}).addTo(map);

		var coordinates = [];

</script>
@* 
	if (Model) {

	
	@foreach (var r in Model?.RouteStops.OrderBy(x => x.Rbr))
	{
		@:coordinates.push({ lat: "@r.Stop.Lat.ToString().Replace(',','.')", lon: "@r.Stop.Lon.ToString().Replace(',','.')" });
	}

			const polyline = new L.polyline(
		[coordinates],
		{
			color: '#22e631',
			weight: 3,
			opacity: 0.5,
			smoothFactor: 1,
		}).addTo(map);
	}
 *@
<a href="../Index">Home</a>